<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div class="nav-top">
        <h1>Counter</h1>
        <p>{{session['num']}}</p>
        <a href="/destroy_session">Reset</a>
        <a href="/add_two">Add +2</a>
    </div>

    <!-- <div class="content">
        <form method="POST" action="/test">
            <input name = "num" type="text">
            <div class="buttons">
                <button>Reset</button>s
            </div>
        </form>
    </div> -->
</body>

</html>